body{
    background-color: lightblue;
    #layout-main{
        display: flex;
        align-items: center;
        justify-content: center;

        #profile{
            height: 450px;
            width: 30vw;
            background-color: azure;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 25px;

            #profile-image{
                width: 150px;
                border-radius: 50%;
            }

            #user-form{
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                width: 90%;
                height: 60%;
                align-items: center;
                input{

                    width: 90%;
                    font-size: 1.5rem;
                    // border: none;
                    border: 1px solid gray;
                    border-radius: 5px;
                    background: transparent;
                    margin-bottom: 20px;
                    // text-align: center;
                }

                #update-avatar{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    // justify-content: center;

                    label[for="avatar"] {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 20px;
                        width: 100%;
                        cursor: pointer;
                        padding: 10px 0px 10px 0px;
                        color: #27a7fc;
                        font-size: 16px;
                        transition: all 0.2s ease-in-out;
                        overflow: hidden;
                        
                      }      
                }

                #update-button{
                    background-color: rgb(5, 139, 201);
                    color: white;
                    width: 100px;
                    border: none;
                    border-radius: 15px;
                    height: 40px;
                }
            }

            p{
                font-size: 1.5rem;
                margin: 10px;
            }

            #toggle-friends-button{
                text-decoration: none;
                // background-color: #27a7fc;
                color: white;
                font-size: 1.5rem;
                border-radius: 15px;
                height: 40px;
                padding: 5px;
                display: flex;
                align-items: center;
            }

            .add-friend{
                background-color: #27a7fc;
            }

            .remove-friend{
                background-color: brown;
            }
        }
    }
}